<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Descriptions</title>
    <link rel="stylesheet" href="/stylesheets/descriptionsstyle.css">
</head>
<body>
    <nav class="navbar">
        <p>Social Circles</p>
        <a href = "/game">
            <button class = "back-btn">Back to Game</button>
        </a>
    </nav>

    <div class="descriptions">
        <% characters.forEach(character => { %>
            <div class="charname">
                <span>&#128100;</span>
                <p2><strong><%= character.CharacterName %></strong></p2>
                <p2><%= character.personality %></p2>
            </div>
        <% }); %>
    </div>
</body>
</html>