<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>404 - Page Not Found</title>
</head>
<body>
    <video autoplay muted loop id="homeVideo">
        <source src="/assets/circles_video.mp4">
    </video>

    <div class="main-page">
        <h1>Oops! Page Not Found</h1>
        <p>Sorry, we couldn't find the page you're looking for.</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>
</body>
</html>