<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            font-size: 50px;
            color: #e74c3c;
        }
        p {
            font-size: 20px;
        }
        a {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Oops! Something went wrong on our end.</h1>
    <p>We apologize for the inconvenience. Please try again later.</p>
    <p><a href="/">Go back to the homepage</a></p>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>404 - Page Not Found</title>
</head>
<body>
    <video autoplay muted loop id="homeVideo">
        <source src="/assets/circles_video.mp4">
    </video>

    <div class="main-page">
        <h1>Oops! Something went wrong on our end.</h1>
        <p>We apologize for the inconvenience. Please try again later.</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>
</body>
</html>