body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFEFD5;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #7B68EE;
  }   

  p {
    text-shadow: 6px 6px 12px #2c334b;
    color: white;
    }

  .back-btn {
    background-color: #d3de6b;
    cursor: pointer;
    font-size: 15px;
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    margin: 50px auto;
    max-width: 1200px;
}
.charname {
    width: 250px;
    background: #b1e663;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: left;
}

.user-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .footer {
    background: #FA8072;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
} */